[Unit]
Description=Infrastructure Demo Service
After=network.target

[Service]

Type=simple
EnvironmentFile=/etc/infra-demo/infra-demo.env
ExecStart=/usr/bin/python3 /opt/infra-demo/app.py
Restart=always


[Install]
WantedBy=multi-user.target
